.chart{
    flex:4;
    -webkit-box-shadow: -1px 2px 21px -1px rgba(171,171,171,0.66);
    box-shadow: -1px 2px 21px -1px rgba(171,171,171,0.66);
    padding: 10px;  
    
    .title{
        font-size: 18px;
        font-weight: 600;
    }
}